
pre{
    height: auto;
    max-height: 450px;
	font-size: 12px !important;

  }

  .tag {
        display: inherit !important;
    border: inherit !important;
    text-transform:inherit !important;
    color: inherit !important;
    padding: inherit !important;
    line-height: inherit !important;
    letter-spacing: inherit !important;
  }

  code, kbd, pre {
    background-color: #2d2d2d !important;
    color: #ccc !important;
}
.chip {
  padding: 4px;
  background-color: #d6d6d6;
  color: var(--color-error);
  font-size: 12px !important;
}